name: Continuous Integration

on: [push]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: piper help
      uses: SAP/project-piper-action@master
      with:
        command: piper --help
    - name: piper step  
      uses: SAP/project-piper-action@master
      with:
        command: buildExecute
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package --file pom.xml
